/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.buttonSmall
{
	-fx-background-size: 100 40; /* Doesn't work, should be 100w X 40h */
    -fx-background-radius: 10;
    -fx-background-color: ffffff;        
}

.buttonLarge
{
	-fx-background-size: 200 100; /* Doesn't work, should be 200w X 100h */
    -fx-background-radius: 15;
    -fx-background-color: ffffff;        
}

.buttonWithText
{
    -fx-text-fill: black;
    -fx-font-family: System;
    -fx-font-size: 16; 
    -fx-background-color: ffffff;        
}

.buttonWithTextLarge
{
    -fx-text-fill: black;
    -fx-font-family: System;
    -fx-font-size: 20; 
    -fx-background-color: ffffff;        
}

.buttonWithTest:hover
{
    -fx-text-fill: black;
    -fx-background-color: #2196F3;        
}

.paneHeader
{
	-fx-background-size: 1200 900;
 	-fx-background-radius: 10 10 0 0;
 	-fx-background-radius: 10 10 10 10;

  	/* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}
