/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button
{
    -fx-background-radius: 125;
    -fx-background-color: ffffff;        
}

.pane
{
	-fx-background-size: 1200 900;
 	-fx-border-radius: 10 10 0 0;
 	-fx-background-radius: 10 10 10 10;

  	/* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
}